body {
margin: 0;
padding: 0;
}
#headline{
margin: 0 0 20px;
padding: 3px;
color: White;
background-color: black;
align-content: center;
}

img {
  vertical-align: middle;
  padding-left: 13px;
}

.logo {
  display: block;
  margin: 10px auto 10px;
}
